@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flex-stack($gap, $align: stretch) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  gap: $gap;
}

@mixin radio-dot($size: 0.4rem, $color: currentColor) {
  content: "";
  width: $size;
  height: $size;
  background-color: $color;
  border-radius: 50%;
  position: absolute;
  inset: 0;
  margin: auto;
}
